

.home {
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}

.App-logo {
  width: 7.5rem;
  height: auto;
}

.movies-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-card {
    width: 16rem;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
.hover-img {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  max-height: 350px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
}

.hover-img * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.hover-img:after,
.hover-img:before,
.hover-img figcaption:after,
.hover-img figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 100%;
  bottom: 0;
}

.hover-img:before {
  left: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hover-img:after {
  left: 25%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hover-img figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}

.hover-img figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: -1;
}

.card-img {
  height: 330px;
  border-radius: 20px;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}

.hover-img h5,
.hover-img p,
.hover-img .icons{
  margin: 0;
  width: 100%;
  opacity: 0;
  color: #ffffff;
}

.hover-img h5 {
  font-weight: 900;
  text-transform: uppercase;
}

.hover-img .plot {
  font-weight: 500;
  font-size: 1rem;
}

.hover-img i:hover {
  opacity: 1;
}

.hover-img:hover:after,
.hover-img.hover:after,
.hover-img:hover:before,
.hover-img.hover:before,
.hover-img:hover figcaption:after,
.hover-img.hover figcaption:after,
.hover-img:hover figcaption:before,
.hover-img.hover figcaption:before {
  top: 0;
  opacity: 0.8;
}

.hover-img:hover figcaption h5,
.hover-img.hover figcaption h5,
.hover-img:hover figcaption p,
.hover-img.hover figcaption p,
.hover-img:hover figcaption .icons,
.hover-img.hover figcaption .icons {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.hover-img:hover figcaption h5,
.hover-img.hover figcaption h5,
.hover-img:hover figcaption .icons,
.hover-img.hover figcaption .icons,
.hover-img:hover figcaption p,
.hover-img.hover figcaption p  {
  opacity: 1;
}

.position-rating {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: yellow;
    width: 4rem;
    height: auto;
    left: 11rem;
    top: 0.5rem;
}

.rating {
   margin-top: 1rem;
   color: black;
   font-size: 0.7em;
   font-weight: bold;
   margin-left: 1.5rem;
}

 #text {
     font-size: 2rem;
     text-align: center;
     color: #ffffff;
 }

 /* .flip-card {
    background-color: transparent;
    width: 16rem;
    height: 40rem;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 16rem;
    height: 40rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 16rem;
    height: 40rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color : grey;
    color: white;
    transform: rotateY(180deg);
  }

  dl h5 {
    text-decoration: underline;
  } */

  .carousel-img {
      height: 25rem;
  }

  .search {
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 340px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  }

  .search:focus {
    outline : none;
  }

  button{
    outline: none !important;
    border : none !important;
  }

  .form-inline .form-control {
    border: none;
    background: none;
    border-bottom: solid 1px #cfcfcf ;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0px;
   }

   @media only screen and (max-width: 980px) {
    .search {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
    }
   }

   @media only screen and (max-width: 580px) {
    .form-inline .form-control {
      width: 200px !important;
    }
   }

   @media only screen and (max-width: 400px) {
    .form-inline .form-control {
      width: 100px !important;
    }
    .search {
      width: 280px;
    }
   }

   .form-inline .form-control:focus, button:hover {
     background: none !important;
     outline: none !important;
     color: black  !important;
   } 
   
   .footer-description {
     line-height: 1.75rem;
     font-size: 1.1rem;
   }
  
   .footer, #navbar {
     background-color: #cfcfcf !important;
     color: rgba(0,0,0,.5);
   }

   .social a {
    color: rgba(0,0,0,.5);
    font-size: 1.5rem;
    }

   .footer-link {
   color: rgba(0,0,0,.5);
   }

   .footer-link:hover, .social a:hover {
   color: black;
   }
